@import "tailwindcss";

@theme base {
    --color-bg-blue: #EFF6FF;
}
html {
    overflow: auto !important;
    padding-right: 0 !important;
}
button:hover{
    cursor: pointer;
    opacity: 0.8;
}
button:disabled{
    cursor: not-allowed;
    opacity: 1;
}